body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141416;
    overflow-x: hidden;
}

@keyframes movePetals {
    from {
        opacity: 0.6;
    }

    to {
        transform: translateY(400vh) scale(1.5);
        opacity: 1;
    }
}

.floating-petal {
    position: absolute;
    background-color: #ff2644;
    border-radius: 50%;
    opacity: 0.9;
    z-index: -10;
}